*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image: url(./background_image.jpg);
}
#container{
    max-width: 1240px;
    /* height: 1036px; */
    background-color: rgba(0,0,0,.3);
    margin: auto;
    margin-top: 30px;
    color: white;

}
#title{
    font-size: 50px;
    font-family: 'Bowlby One SC', cursive;

    align-items: center;
    text-align: center;
    letter-spacing: .05em;

}
span{
    color: red;
}
#description{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 1.5rem;
}
#header{
    text-align: center;
}

textarea{
    resize: none;
}
#survey-form-container{
    width: 500px;
    background-color: rgba(0,0,0,.8);
    margin: auto;
    padding: 30px 40px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: .05em;

}
#name,
#age,
#email,
#dropdown,
#feedback{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
.input-box{
    margin-top: 10px;
}
#form-button{
    width: 160px;
    height: 45px;
    border-radius: 50px;
    color:white;
    background-color: red;
    border: none;
    cursor: pointer;

}
.form-submit{
    width: 160px;
    margin: auto;
    margin-top: 15px;
}
#form-button:hover{
    background-color: white;
    color: red;
}